version: '3.8'

services:
  web:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    image: visualify-web:latest
    container_name: visualify_web
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ../:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload