version: '3.8'

services:
  app:
    build:
      context: ../..
      dockerfile: deploy/development/Dockerfile
    ports:
      - '4200:4200'
    volumes:
      - ../..:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev"
